body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;

}

.nav {
    margin: auto;
}
/*
                        PROBLEM WITH HOVER

button.nav:hover {
    font-weight: 550;
    text-shadow: 1px 1px #000000;
}
*/
button.nav { 
    background:none; border:none; 
    font-size: 2vw;
    color: wheat;
}

.flex-container {

    display: flex;
}

#front-header {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    font-size: 5vw;
    width: 40vw;
    text-align: center;
    color: wheat;

}

#clock {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    text-align: center;
    font-size: 5vw;
    width: 40vw;
    color: wheat;
    
}

#nav-menu {
    display: flex;
    position: sticky;
    background-color: gray;
    width: 96%;
    height: 4vh;
    padding: 2%;
    align-items: center;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: center;
}

.valid-img {
    width: 4vw;
    height: 4vw;
    float: left;
}

#check {
    display: none;
}

#cross {
    display: block;
}

.article-spot {
    
    display: flex;
    background-color: whitesmoke;
    width: 90%;
    height: 70vh;
    padding: 5%;
    font-size: 1.5em;
    overflow: scroll;
}
#welcome-sign {
    margin-bottom: 3vw;
    text-align: center;
}
#recom-text {
    text-align: center;
}

.submitter {
    width: 25vw;
    height: 2vw;
}
#footer-spot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    padding: 25px;
    color: wheat;
    font-size: 1vw;
}

#my-info {
    text-align: center;
    display: block;
}

#my-hobby {
    display: none;
}
#my-recom {
    display: none;
}
#my-contact {
    display: none;
}

#info-link {
    font-weight: 550;
    text-shadow: 1px 1px #000000;
}

/* HOBBY PAGE CSS PART */

#travel-h {
    text-align: center;
    align-items: center;
}
#travel-p {
    line-height: 100%;
}
#travel {
    font-size: 2.2vw;
    float: left;
    width: 46%;
}
.photos {
    display: flex;
    flex-flow: column;
    float: left;
    width: 27%;
    height: 20vw;
}
#fot1 {
    margin-top: 10vw;
    position: relative;
    z-index: 1;
}
#fot2 {
    margin-top: 13vw;
    position: relative;
    z-index: 2;
    top: 5vw;
    left: -5vw;
}